# Build artifacts
*.exe
*.dll
*.so
*.dylib
*.o
*.pyc
*.pyd
*.pyo

# IDE-specific files
.idea/
.vscode/
*.suo
*.user
*.atsuo
*.sln
*.dat

# OS-specific files
.DS_Store
Thumbs.db

# Python-specific
venv/
.venv/
env/
.env/
__pycache__/
*.egg-info/
dist/
build/

# Project-specific
data/
out/
log.txt
